sphinx-click
sphinx
sphinx-autobuild
sphinx-sitemap
sphinxcontrib-images
valohai-cli
sphinx-copybutton
furo
sphinx-inline-tabs
git+https://github.com/sphinx-contrib/video.git
sphinxcontrib-details-directive