version: 2
jobs:
  build:
    working_directory: ~/valohai/docs
    environment:
      PIP_EXISTS_ACTION: w
    docker:
    - image: cimg/python:3.9.3-node
    steps:
    - checkout
    - restore_cache:
        keys:
        - v3-dep-{{ checksum "yarn.lock" }}-{{ checksum "requirements.txt" }}
    - run: yarn install
    - run: pip install -U pip wheel setuptools
    - run: pip install -r requirements.txt
    - save_cache:
        key: v3-dep-{{ checksum "yarn.lock" }}-{{ checksum "requirements.txt" }}
        paths:
        - ~/.cache
    - run: node build-css.js
    - run: python check_descriptions.py
    - run: make dirhtml
    - run: '[ "${CIRCLE_BRANCH}" == "master" ] && ./upload.sh || true'
