
div.admonition {
  margin: 33px 0;
  padding: 11px 33px;
  border-left: 4px solid #64c8d0;
  p {
    &.admonition-title {
      font-weight: normal;
      font-size: 20px;
      line-height: 22px;
      padding: 0;
    }
    &.first {
      margin-top: 0;
    }
    &.last {
      margin-bottom: 0;
    }
  }
}

dt:target,
.highlight {
  background: #FAF3E8;
}

div.warning,
div.danger,
div.error {
  border-color: #A85555;
}

div.caution,
div.attention,
div.important {
  border-color: #BB9E51;
}

div.note,
div.tip,
div.hint {
  border-color: #88D1A5;
}

p.admonition-title {
  display: inline;
}

p.admonition-title:after {
  content: ":";
}
