
header {
  background: #fff;
  color: #333;
  padding: 18px 16px 14px 16px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  img {
    width: 154px;
  }
  .backlink {
    font-size: 11px;
    line-height: 11px;
    padding-top: 8px;
    margin-right: 18px;
  }
  nav {
    flex: 1;
    padding-top: 4px;
    margin-left: 5px;
    a {
      color: inherit;
      &.current {
        font-weight: 600;
      }
    }
  }
}

main.document {
  max-width: 800px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5;
}

footer {
  text-align: center;
  margin: 4em;
  opacity: 0.5;
  font-size: 0.825em;
}

.headerlink {
  display: none;
  padding-left: 0.25em;
  color: #ddd;
  text-decoration: none;

}

:hover > .headerlink {
  display: inline;
}
