body {
  margin: 0;
}

header {
  background: #fff;
  color: #333;
  padding: 18px 16px 14px 16px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  img {
    width: 154px;
  }
  .backlink {
    font-size: 11px;
    line-height: 11px;
    padding-top: 8px;
    margin-right: 18px;
  }
  nav {
    flex: 1;
    padding-top: 1px;
    margin-left: 5px;
    a {
      color: inherit;
      &.current {
        font-weight: 600;
      }
    }
  }
}

.content {
  display: flex;
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 366px;
  padding: 22px;
  font-size: 16px;
  line-height: 20px;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    margin: 0;
    list-style-type: none;
    ul {
      list-style-type: none;
    }
  }
  li {
    margin-bottom: 7px;
    margin-top: 7px;
  }
}

.document {
  flex-grow: 1;
  padding-left: 11px;
  padding-right: 11px;
}

.body {
  max-width: 700px;
}

footer {
  text-align: center;
  margin: 4em;
  opacity: 0.5;
  font-size: 0.825em;
}

.headerlink {
  display: none;
  padding-left: 0.25em;
  color: #ddd;
  text-decoration: none;

}

:hover > .headerlink {
  display: inline;
}

hr {
  margin-top: 44px;
  margin-bottom: 44px;
}

.figure img {
  border: 1px solid #888;
  max-width: 100%;
}

@media (max-width: 1130px) {
  .sidebar {
    display: none;
  }
  .document {
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media (max-width: 800px) {
  #nav {
    display: none;
  }
  #logo {
    margin-right: 20px;
  }
}
