$nav-element-bg: #fafbfc;
body {
  margin: 0;
}

header {
  background: #f6f8fa;
  color: #333;
  padding: 18px 16px 14px 16px;
  border-bottom: 1px solid #cecece;
  display: flex;
  img {
    width: 154px;
  }
  .backlink {
    font-size: 11px;
    line-height: 11px;
    padding-top: 8px;
    margin-right: 18px;
  }
  nav {
    flex: 1;
    padding-top: 1px;
    margin-left: 5px;
    a {
      color: inherit;
      &.current {
        font-weight: 600;
      }
    }
  }
}

.content {
  display: flex;
}

.sidebar {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 366px;
  padding: 22px;
  font-size: 16px;
  line-height: 20px;
  background: $nav-element-bg;
  border-right: 1px solid #e1e4e8;
  .sidebar-title {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    margin: 0;
    padding-left: 20px;
    list-style-type: circle;
    ul {
      padding-left: 20px;
      list-style-type: circle;
    }
  }
  li {
    margin-bottom: 7px;
    margin-top: 7px;
    &.current {
      list-style-type: disc;
    }
  }
}

ul {
  list-style-type: circle;
}

.current > a {
  font-weight: bold;
}

.document {
  flex-grow: 1;
  flex-shrink: 0;
  padding-left: 22px;
  padding-right: 22px;
}

.body {
  max-width: 700px;
  padding-bottom: 100px;
}

.hidden {
  display: none;
}

table.image-grid {
  border: none;
  display: flex;
  flex-wrap: wrap;
  tr {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  th, td {
    border: none;
    padding: 14px;
    flex-grow: 1;
    text-align: center;
  }
  a {
    display: inline-block;
    user-select: none;
    transition: transform .125s;
    &:hover {
      cursor: pointer;
      transform: translate(0, -4px);
    }
    &:active {
      transform: translate(0, 1px);
    }
  }
}

footer {
  text-align: center;
  padding-top: 55px;
  padding-bottom: 1em;
  opacity: 0.5;
  font-size: 14px;
  background: $nav-element-bg;
  border-top: 1px solid #e1e4e8;
}

.headerlink {
  display: none;
  padding-left: 0.25em;
  color: #ddd;
  text-decoration: none;

}

:hover > .headerlink {
  display: inline;
}

hr {
  margin-top: 44px;
  margin-bottom: 44px;
}

.figure img,
[data-lightbox] img {
  border: 1px solid #888;
  max-width: 100%;
}

.lightbox .lb-dataContainer {
  padding-top: 10px;
}

ul.search li {
  margin-top: 40px;
  margin-bottom: 40px;
  list-style-type: none;
}
