
body,
input,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

// HEADINGS

h1 {
  font-size: 36px;
  line-height: 40px;
  margin: 22px 0;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  margin: 22px 0;
}

h3 {
  font-size: 18px;
  line-height: 22px;
  margin: 22px 0;
}

h4,
h5,
h6 {
  font-size: 16px;
  line-height: 22px;
  margin: 22px 0;
}

// LINKS

a {
  color: #058;
}

a:hover {
  color: #011;
}

a:visited {
  color: #358;
}

// CODE

pre,
tt,
code {
  font-family: 'Consolas', 'Menlo', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.literal {
  background: $code-bg-color;
  padding: 3px;
}

.highlight pre {
  background: $code-bg-color;
  padding: 11px;
  margin: 11px 0;
  line-height: 22px;
  font-size: 15px;
}
