.created,
.queued,
.started,
.error,
.stopping,
.stopped,
.complete {
  font-weight: bold;
}

.created {
  color: #999;
}

.queued {
  color: #555;
}

.started {
  color: #287db1;
}

.error {
  color: #eb3639;
}

.stopping {
  color: #ffa940;
}

.stopped {
  color: #d97700;
}

.complete {
  color: #2cb53e;
}