@import "normalize";
@import "variables.scss";
@import "typo.scss";
@import "structure.scss";
@import "admonitions.scss";

body {
  margin: 0;
}

a {
  color: #058;
}

a:hover {
  color: #011;
}

a:visited {
  color: #358;
}

.literal {
  background: $code-bg-color;
  padding: 3px;
}

.highlight pre {
  background: $code-bg-color;
  padding: 11px;
  margin: 11px 0;
  line-height: 22px;
}

.tips {
  padding: 21px;
  font-size: 14px;
  line-height: 22px;
  color: #1e2856;
  background-color: #deedf7;
  border: 1px solid #8eb0c3;
  border-radius: 3px;
}
